.transition-all {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}
.background-cover {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.serif {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
.sans-serif,
article .container .row blockquote {
  font-family: "Helvetica Neue", Helvetica, Arial, "Microsoft Yahei", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
}
article .container {
  padding-bottom: 80px;
}
article .container h4 {
  font-size: 20px;
}
article .container h5 {
  font-size: 16px;
}
article .container .row img {
  width: 100% !important;
  height: auto;
  display: inline-block;
}
article .container .row .video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
article .container .row .video-container iframe,
article .container .row .video-container object,
article .container .row .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-top: 0;
}
article .container .row blockquote {
/*font-style italic*/
  font-size: 1em;
  padding: 15px 30px;
  text-align: left;
  background: rgba(102,128,153,0.05);
}
article .container .row blockquote p {
  margin-top: 5px;
}
article .container .row blockquote footer {
  border-top: none;
  font-size: 0.8em;
  line-height: 1;
  margin: 20px 0 0;
  padding-top: 0;
}
article .container .row blockquote footer cite:before {
  content: '—';
  color: #ccc;
  padding: 0 0.5em;
}
article .container .row .pullquote {
  float: right;
  border: none;
  padding: 0;
  margin: 1em 0 0.5em 1.5em;
  text-align: left;
  width: 45%;
  font-size: 1.5em;
}
article .container .row .pullquote.left {
  float: left;
}
article .container .row .toc-article {
  padding: 0;
  min-height: 100px;
}
article .container .row .toc-article .toc-content {
  display: block;
  overflow: auto;
  height: auto;
  padding: 10px;
  width: 275px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f5f5f5;
}
article .container .row .toc-article .toc-content.fixed {
  position: fixed;
  top: 47px;
}
article .container .row .toc-article .toc-content .toc-title {
  display: inline-block;
  margin-bottom: 10px;
}
article .container .row .toc-article .toc-content ol {
  padding-left: 20px;
  list-style: none;
}
article .container .row .toc-article .toc-content ol a {
  text-decoration: none;
}
article .container .row .toc-article .toc-content .toc {
  max-height: 200px;
  overflow: auto;
}
article .container .row .article-comments {
  margin-top: 100px;
}
article .container .row .word-count {
  color: #b2b2b2;
  font-style: italic;
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 30px;
}
article .container .row .word-count .fa {
  margin-right: 6px;
}
figure.highlight {
  background: #f3f3f3;
  border: 1px solid color-border;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 7px 15px;
  border-radius: 2px;
  text-shadow: 0 0 1px #fff;
  line-height: 1.6;
  overflow: auto;
  position: relative;
  font-size: 0.9em;
}
figure.highlight figcaption {
  color: color-meta;
  font-family: font-mono;
  margin-bottom: 5px;
  text-shadow: 0 0 1px #fff;
}
figure.highlight figcaption a {
  position: absolute;
  right: 15px;
}
figure.highlight pre {
  font-size: 14px;
  border: none;
  padding: 0;
  margin: 0;
  background: none;
}
figure.highlight table {
  margin-top: 0;
  margin-bottom: 0;
  border-spacing: 0;
  display: block;
  border: none;
}
figure.highlight table td,
figure.highlight table th {
  min-width: 0;
  border: none;
  background: none;
}
figure.highlight table .gutter {
  color: color-meta;
  padding-right: 15px;
  border-right: 1px solid color-border;
  text-align: right;
}
figure.highlight table .code {
  padding-left: 15px;
  border-left: 1px solid #fff;
  color: #666;
}
figure.highlight table .line {
  height: 20px;
}
figure.highlight table .line.marked {
  background: #d6d6d6;
}
pre .comment,
pre .template_comment,
pre .diff .header,
pre .doctype,
pre .pi,
pre .lisp .string,
pre .javadoc {
  color: #93a1a1;
  font-style: italic;
}
pre .keyword,
pre .winutils,
pre .method,
pre .addition,
pre .css .tag,
pre .request,
pre .status,
pre .nginx .title {
  color: #859900;
}
pre .number,
pre .command,
pre .string,
pre .tag .value,
pre .phpdoc,
pre .tex .formula,
pre .hexcolor {
  color: #2aa198;
}
pre .title,
pre .localvars,
pre .chunk,
pre .decorator,
pre .built_in,
pre .identifier,
pre .vhdl,
pre .literal,
pre .id {
  color: #268bd2;
}
pre .attribute,
pre .variable,
pre .lisp .body,
pre .smalltalk .number,
pre .constant,
pre .class .title,
pre .parent,
pre .haskell .type {
  color: #b58900;
}
pre .preprocessor,
pre .preprocessor .keyword,
pre .shebang,
pre .symbol,
pre .symbol .string,
pre .diff .change,
pre .special,
pre .attr_selector,
pre .important,
pre .subst,
pre .cdata,
pre .clojure .title {
  color: #cb4b16;
}
pre .deletion {
  color: #dc322f;
}
