<div id="toc" class="toc-article
    col-lg-2 col-lg-offset-0
    visible-lg-block
    sidebar-container
    catalog-container">
    <div class="toc-content">
        <strong class="toc-title">文章目录</strong>
        <%- toc(item.content,{list_number:false}) %>
    </div>
</div>
<!-- toc scroll -->
<script type="text/javascript">
    window.onscroll=function(){
        var t = document.documentElement.scrollTop||document.body.scrollTop;
        if(t>=document.querySelector(".intro-header").offsetHeight){
            document.querySelector(".toc-content").className = 'toc-content fixed'
        } else {
            document.querySelector(".toc-content").className = 'toc-content'
        }

    }
</script>