
<%
    var tags = [];
    item.tags.forEach(function(tag){
        tags.push('<a href="' + config.root + tag.path + '" class="article-tags">' + tag.name + '</a>');
    });
%>

<%- tags.join(' ') %>

